<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="username" value="admin"></parameter>
	<parameter name="password" value="1234"></parameter>
	<parameter name="adminusername" value="Druvi"></parameter>
	<parameter name="adminpassword" value="12345"></parameter>
	<parameter name="adminusername1" value="dersan"></parameter>
	<parameter name="categoryname" value="ROSE"></parameter>
	<parameter name="subcatname" value="mobile mobile"></parameter>
	<parameter name="catname" value="mobile"></parameter>

	<test thread-count="5" name="Test">
		<classes>
			<class name="testscript.SubCategoryTest">

			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!--
Suite -->
